@font-face {
  font-family: 'Blair ITC';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/blair-itc-std-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Blair ITC';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/blair-itc-medium.otf') format('opentype');
}

@font-face {
  font-family: 'Blair ITC';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/blair-itc-bold.otf') format('opentype');
}
